.primary-gradient {
  background: linear-gradient(
    to right,
    hsl(250 84% 54% / 0.10),
    hsl(250 84% 54% / 0.20),
    hsl(250 84% 54% / 0.10)
  );
  border: 1px solid hsl(250 84% 54% / 0.20);
  border-radius: 1rem;
  padding: 1rem;
}

.post-card {
  margin-top: 1.35rem;
}

.after-select {
  margin: 2.5rem 0rem 3rem 0;
}